/*Credits:
Author:Mateusz Skulski,
PSD Layout:?,
*/

body {
  font-family: 'Montserrat', sans-serif;
}
p {
  color: #83a7a5;
}
/* kolor headerow: #0f5f5c; 
   kolor zielony: #6fb048;
*/
/* footer-open */
.form-control::-moz-placeholder {
    color:#0f5f5c;;
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow:none;
}
#newsletter-form-1 {
  border:none;
  background-color: #eef1ec;
  height: 40px; 
}
.newsletter-button {
  border:none;
  background-color: #eef1ec;
}
.newsletter-button > i {
  color:#6fb048;
}
.footer-text {
  margin: 75px 0 25px 0;
}
.footer-text > h3 {
  color:#0f5f5c;
  font-weight: bold;
}
.footer-text > h5 {
  margin: 30px 0 20px 0;
  color:#0f5f5c;
  font-weight: bold;
}
.footer-text > p > a{
  color:#0f5f5c;
}
.copyrights-text {
  margin: 75px 0 0 0;
}
.social-flex {
  margin: 50px 0 0 0;
}
.social-flex > img {
  margin: 0 5px 0 0;
}

.before-text {
  margin:40px 0 0 0;
}
.before-text > h2 {
  color: #0f5f5c;
  font-size: 2.0em;  
}
.before-footer-bg {
  background-image: url("img/before-footer-bg.png");
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}
.btn-download {
  margin: 65px 0 0 0;
  border-radius: 1.5px;
  background-color: #6fb048;
  color:#FFF;
  font-size: 1.0em;
  height:50px;
  width: 300px;
}
/* footer-close */


/* pricing-open */

.price-help {
  margin: 50px 0 75px 0;
  opacity: 0;
}
.price-help > h2 {
  color:#6fb048;
}
.price-help > .line-about {
  margin: 20px auto 20px auto;
}


.inline-box-price {
  float:left;
  opacity: 0;
  
}
.inline-box-price > img {
  float:left;
  margin: 10px 10px 0 0;
  
}
.inline-box-price > p {
  float:left;
  margin: 10px 0 0 0;
}

.price-text {
  margin: 25px 0 50px 0;
}
.price-text > h3 {
  color: #0f5f5c;
  font-size: 1.8em;

}
.price-text > .line-about {
  margin: 20px auto 40px auto;
}

.btn-price {
  margin: 10px 0 10px 0;
  border-radius: 1.5px;
  background-color: #0f5f5c;
  color:#FFF;
  font-size: 1.0em;
  height:45px;
  width: 150px;
}
.btn-price.active {
  background-color: #6fb048;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.well-1 {
  margin: 0 0 0 12.5%;
}
.well {
  width:  25%;
}
.well > h4 { 
  color:#6fb048;
}
.well > h3 { 
  color: #0f5f5c;
  font-size: 5.0em; 
}
.well > h5 { 
  color: #0f5f5c;
  margin: -15px 0 20px 0;
  font-size: 1.2em; 
}
/* pricing-close */

/* facts-open */
.map-bg {
  background-image: url("img/map-bg.png");
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 425px;
}
.map-text {
  padding:100px 5% 0 10%;
  opacity: 0;
}
.map-text > h2 {
  margin: 15px 0 15px 0;
  color:#0f5f5c;
}
.map-text > p {
  line-height: 25px;
}

/* facts-close */


/* client-open */
  .client-box {
    padding: 50px 0 0 0;
    margin: 0 0 0px 0;
  }
  .client-img {
    margin: 0 auto 75px auto;
    opacity: 0;
    }
  .client-text {
    padding: 85px 5% 0 0;
  }
  .client-text > h2 {
    color: #83a7a5;
    font-size: 1.6em;
    line-height: 40px;
    font-family: 'Merriweather', serif;
  }
  .client-text > p {
    color:#6fb048;
    margin: 0 0 0 0;
  }
  .client-text > p:last-child {
    color: #83a7a5;
    margin: 0 0 0 0;
  }




/* client-close */

/* works-open */
.how-works-text .inline-box {
  display: inline-flex;
  margin: 25px 0 0 0;
}
.how-works-text .inline-box > img {
  margin: 0 10px 0 0;

}
.how-works-text .inline-box > p {
  margin: 4px 0 0 0;
}
.how-works-text {
  padding: 50px 15% 50px 0;
  opacity: 0;
}
.how-works-text > h1 {
  margin: 15px 0 20px 0;
  color:#0f5f5c;
}
.how-works-bg {
  background-color: #eef1ec;
}
.phone-img-bg {
  background-image: url("img/phone-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 525px;
}
/* works-close */

/* about-open */
.about {
  margin: 50px 0 0 0;
  opacity: 0;
}
.about > h1 {
  margin: 15px 0 15px 0;
  color:#0f5f5c;
}
.line-about {
  background-color: #6fb048;
  width: 75px; 
  height: 1px;
}
.about > p {
    margin: 15px 0 75px 0;
}
.about > .col-md-4 > h3 {
  font-size: 1.2em;
  margin: 15px 0 15px 0;
  color:#0f5f5c;
}
.about-2 {
  margin: 85px 0 100px 0;
  opacity: 0;
}
.inline-box {
  display: inline-flex;
  margin: 25px 0 0 0;
}
.inline-box > img {
  margin: 8px 10px 0 0;
  height: 30px;
}
.inline-box > h3 {
  font-size: 1.2em;
  margin: 15px 0 15px 0;
  color:#0f5f5c;
}
/* about-close */

/* top - open */


.main-slogan {
  margin: 300px 0 0 0;
  width: 60%;
  opacity: 0;
}
.main-slogan > h1 {
  color:#FFF;
}
.main-slogan > h4 {
  color:#FFF;
  line-height: 30px;
}

.btn-slogan {
  border-radius: 1.5px;
  background-color: #6fb048;
  color:#FFF;
  font-size: 1.0em;
  height:50px;
  width: 200px;
}

.phone-icon {
  color:#bec8c8;
  font-size:1.6em;
  margin:0 5px 0 0;
  position: relative;
  top:4px;
}
.social-flex {
  display: flex;
  justify-content: center;
}
.main-bg {
  background-image: url("img/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 825px;
}
.navbar {
  font-family: 'Montserrat', sans-serif;
  padding: 15px 0 10px 0;
  background-color:transparent;
  border: none;
  border-radius: none;
  border-bottom: 1px solid #4c6d6d;
}

.navbar-header .navbar-brand  {
  color: #FFF;
  font-size: 2.0em;
  font-weight: bold;
}
.navbar-default .navbar-brand > span:first-child {
  color: #4c6d6d;
  font-size: 1.0em;
  margin: 0 0 0 10px;
  font-weight: normal;
  
}
.brand-after {
  color: #FFF;
  font-size: 0.5em;
  margin: 0 0 0 5px;
  position: relative;
  top:-4px;
  
}
.navbar-default .navbar-nav > li > a {
  color:#cdd1d1;
  font-size: 0.9em;
  list-style-type: none;
  overflow: hidden;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color:#FFF;
  font-size: 0.9em;
  list-style-type: none;
  overflow: hidden;
}

.navbar-default .nav-open .navbar-nav > li:last-child > a {
  color:#FFF;
  background-color: #697f7f;
  position: relative;
  top:5px;
  margin: 5px 0 0 0;
  padding: 5px 5px 0 5px;
  height: 30px;
  width: 100%;
  border-radius: 3px;
  font-size: 0.9em;
  list-style-type: none;
  overflow: hidden;
}


.navbar-default .navbar-nav > li > a:hover {
  color: #FFF;
}

.navbar-default .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #697f7f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* top - close */

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  }
  } 

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}    




/* Media queries
-------------------------------------------------- */
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
/* pricing-open */
.inline-box-price > img {
  float:left;
  margin: 10px 2px 0 0;
}
.inline-box-price > p {
  float:initial;
  margin: 10px 0 0 0;
}


/* pricing-close */
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/* footer-open */
.footer-text {
  margin: 25px 0 0px 0;
}
.copyrights-text {
  margin: 40px 0 0 0;
}
.social-flex {
  margin: 25px 0 20px 0;
}
.social-flex > img {
  margin: 0 10px 0 0;
}
.before-text {
  margin:20px 0 0 0;
}
.before-footer-bg {
  height: 225px;
}
.btn-download {
  margin: 75px 0 0 0;
}
/* footer-close */


/* pricing-open */
.inline-box-price {
  margin: 0 0 0 25%;
}
.inline-box-price > img {
  float:left;
  margin: 10px 10px 0 0;
  
}
.inline-box-price > p {
  float:left;
  margin: 10px 0 0 0;
}

.well {
  width:  50%;
  margin: 0 0 5px 25%;
}

/* pricing-close */

/* facts-open */
.map-bg {
  background-image: url("img/map-bg.png");
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
}
.map-text {
  padding:25px 5% 25px 10%;
}



/* facts-close */


/* client-open */
  .client-img {
    margin: 0 auto 50px auto;
    }
  .client-text {
    padding: 0px 5% 60px 5%;
  }
/* client-close */

/* works-open */
.how-works-text .inline-box > p {
  margin: 2px 0 0 0;
}
.how-works-text {
  padding: 25px 5% 50px 5%;
}

/* works-close */

/* about-open */
.about > p {
    margin: 15px 0 50px 0;
}
.about-2 {
  margin: 50px 0 100px 0;
}
/* about-close */

/* top - open */
.main-slogan {
  margin: 250px 0 0 0;
  width: 100%;
}
.main-bg {
  height: 625px;
}
.navbar-header .navbar-brand  {
  font-size: 1.7em;
}
.navbar-default .navbar-brand > span:first-child {
  font-size: 1.0em;
  margin: 0 0 0 0px; 
}
.brand-after {
  font-size: 0.45em;
}
.nav > li > a {
  padding: 15px 10px 0 0;
}
.navbar-header .navbar-brand  {
  color: #FFF;
  font-size: 2.0em;
  font-weight: bold;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
/* footer-open */
.footer-text {
  margin: 25px 0 0px 0;
}
.copyrights-text {
  margin: 40px 0 0 0;
}
.social-flex {
  margin: 25px 25% 20px 0;
}
.social-flex > img {
  margin: 0 10px 0 0;
}
.before-text {
  margin:20px 0 0 0;
}
.before-footer-bg {
  height: 250px;
}
.btn-download {
  margin: 25px 0 0 0;
}
/* footer-close */


/* pricing-open */
.inline-box-price {
  margin: 0 0 0 25%;
}
.inline-box-price > img {
  float:left;
  margin: 10px 10px 0 0;
  
}
.inline-box-price > p {
  float:left;
  margin: 10px 0 0 0;
}

.well {
  width:  50%;
  margin: 0 0 5px 25%;
}

/* pricing-close */

/* facts-open */
.map-bg {
  background-image: url("img/map-bg.png");
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
}
.map-text {
  padding:25px 5% 25px 10%;
}



/* facts-close */


/* client-open */
  .client-img {
    margin: 0 auto 50px auto;
    }
  .client-text {
    padding: 0px 5% 60px 5%;
  }
/* client-close */

/* works-open */
.how-works-text .inline-box > p {
  margin: 2px 0 0 0;
}
.how-works-text {
  padding: 25px 5% 50px 5%;
}

/* works-close */

/* about-open */
.about > p {
    margin: 15px 0 50px 0;
}
.about-2 {
  margin: 50px 0 100px 0;
}
/* about-close */

/* top - open */
.main-slogan {
  margin: 250px 0 0 0;
  width: 100%;
}
.main-bg {
  height: 625px;
}
 
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
/* footer-open */
.footer-text {
  margin: 25px 0 0px 0;
}
.copyrights-text {
  margin: 40px 0 0 0;
}
.social-flex {
  margin: 25px 25% 20px 0;
}
.social-flex > img {
  margin: 0 10px 0 0;
}
.before-text {
  margin:20px 0 0 0;
}
.before-footer-bg {
  height: 300px;
}
.btn-download {
  margin: 25px 0 0 0;
}
/* footer-close */


/* pricing-open */

.inline-box-price {
  margin: 0 0 0 0%;
}
.well {
  width:  75%;
  margin: 0 0 5px 12.5%;
}

/* pricing-close */

/* facts-open */
.map-bg {
  background-image: url("img/map-bg.png");
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
}
.map-text {
  padding:25px 5% 25px 5%;
}



/* facts-close */


/* client-open */
  .client-img {
    margin: 0 auto 50px auto;
    }
  .client-text {
    padding: 0px 5% 60px 5%;
  }
/* client-close */

/* works-open */
.how-works-text .inline-box > p {
  margin: 2px 0 0 0;
}
.how-works-text {
  padding: 25px 5% 50px 5%;
}

/* works-close */

/* about-open */
.about > p {
    margin: 15px 0 50px 0;
}
.about-2 {
  margin: 50px 0 100px 0;
}
/* about-close */

/* top - open */
.main-slogan {
  margin: 250px 0 0 0;
  width: 100%;
}
.main-bg {
  height: 625px;
}
.navbar-header .navbar-brand  {
  font-size: 1.7em;
}
.navbar-default .navbar-brand > span:first-child {
  font-size: 1.0em;
  margin: 0 0 0 0px; 
}
.brand-after {
  font-size: 0.45em;
}  


}